Repository Saebasol/Heliotrope, pull requests merged in 2021-08, with the labels that each got.

#7 chore(code of conduct): add code of conduct
  CODE_OF_CONDUCT.md
Labels: chore: etc

#11 fix(info): arg is dict
  heliotrope/view/api/hitomi/info.py
Labels: view

#12 chore(docker): add dockerfile
  Dockerfile
Labels: CI/CD: Docker

#13 fix(view, mirroring): cleanup task and return a normal response
  heliotrope/database/mongo.py
  heliotrope/sanic.py
  heliotrope/server.py
  heliotrope/tasks/mirroring.py
  heliotrope/view/api/hitomi/galleryinfo.py
  heliotrope/view/api/hitomi/info.py
Labels: PR: fix, Task: Mirroring, View: API

#14 test(tests): add test code
  .vscode/settings.json
  heliotrope/database/mongo.py
  heliotrope/tasks/mirroring.py
  heliotrope/view/api/hitomi/list.py
  tests/__init__.py
  tests/case.py
  tests/conftest.py
  tests/test_galleryinfo.py
  tests/test_info.py
  tests/test_list.py
  tests/test_proxy.py
Labels: CI/CD: Test, DB: Mongo, PR: test, Task: Mirroring, View: API

#15 test(tests/images): add images endpoint test
  tests/test_images.py
Labels: CI/CD: Test, PR: test

#18 chore(github-actions): add actions
  .github/workflows/python-mypy.yml
  .github/workflows/python-style.yml
  .github/workflows/python-test.yml
  heliotrope/database/mongo.py
  heliotrope/sanic.py
  heliotrope/view/api/hitomi/__init__.py
  tests/conftest.py
Labels: CI/CD: github-actions, PR: chore

#21 feat(random): add random endpoint
  heliotrope/database/mongo.py
  heliotrope/view/api/hitomi/__init__.py
  heliotrope/view/api/hitomi/random.py
  tests/test_random.py
Labels: DB: Mongo, CI/CD: Test, View: API, PR: feature

#23 docs(contributing): add Contribution Guide
  CONTRIBUTING.md
Labels: PR: docs, Docs: Markdown

#24 docs(readme): remove codecov badge
  README.md
Labels: PR: docs, Docs: Markdown

#25 fix(common): fix hitomi image URL rule
  heliotrope/hitomi/common.py
Labels: Hitomi: common, PR: fix

#22 feat(heliotrope): sanic_openapi docs
  heliotrope/server.py
  heliotrope/view/api/hitomi/galleryinfo.py
  heliotrope/view/api/hitomi/images.py
  heliotrope/view/api/hitomi/info.py
  heliotrope/view/api/hitomi/list.py
  heliotrope/view/api/hitomi/search.py
  heliotrope/view/api/proxy.py
  requirements.txt
  tests/case.py
  tests/conftest.py
Labels: PR: feature, Docs: OpenAPI

#28 chore(deps): split file
  .github/dependabot.yml
  .github/workflows/python-mypy.yml
  .github/workflows/python-style.yml
  .github/workflows/python-test.yml
  requirements-dev.txt
  requirements/deps.txt
  requirements/style.txt
  requirements/test.txt
Labels: PR: deps, CI/CD: github-actions, PR: chore

#31 chore(dependabot): edit directory
  .github/dependabot.yml
Labels: PR: chore

#33 chore(github-actions): add docker ci/cd pipeline and workflow Integration
  .github/workflows/ci.yml
  .github/workflows/python-mypy.yml
  .github/workflows/python-style.yml
  .github/workflows/python-test.yml
  Dockerfile
  heliotrope/__init__.py
Labels: CI/CD: github-actions, CI/CD: Docker, PR: chore

#36 feat(api): request hitomi if not korean
  heliotrope/hitomi/models.py
  heliotrope/hitomi/parser.py
  heliotrope/request/hitomi.py
  heliotrope/view/api/hitomi/galleryinfo.py
  heliotrope/view/api/hitomi/images.py
  heliotrope/view/api/hitomi/info.py
  tests/test_galleryinfo.py
  tests/test_images.py
  tests/test_info.py
Labels: Hitomi: models, Hitomi: parser, CI/CD: Test, View: API, PR: feature

#29 feat(search): tag search
  heliotrope/database/mongo.py
  heliotrope/sanic.py
  heliotrope/view/api/hitomi/search.py
Labels: DB: Mongo, View: API
