Repository Saebasol/Heliotrope, pull requests merged in 2021-09, with the labels that each got.

#13 fix: mirroing not work
  heliotrope/request/hitomi.py
  heliotrope/tasks/mirroring.py
Labels: Request: Hitomi, task: mirroring

#14 style(heliotrope): bump up 5.0.1 to 5.0.2
  heliotrope/__init__.py
Labels: PR: release

#11 feat(common): rewrite_tn_paths
  heliotrope/hitomi/common.py
  tests/test_common.py
Labels: PR: feat, Hitomi: common

#15 fix(mongo): correctly specify the number of skips
  heliotrope/database/mongo.py
Labels: PR: fix, DB: mongo

#24 test(conftest): apply pytest configure
  tests/conftest.py
Labels: PR: test

#25 fix(models): edit key
  heliotrope/hitomi/models.py
Labels: PR: fix

#27 style(heliotrope): bump up 5.0.3 to 5.1.0
  heliotrope/__init__.py
Labels: PR: release

#29 style(heliotrope): bump up 5.1.0 to 5.1.1
  heliotrope/__init__.py
Labels: PR: release
